.lessons-page{
    font-family: sans-serif;
    padding: 60px 30px;
    background: url(../../../../assets/background-img/lessons-screen.png) no-repeat, url(../../../../assets/background-img/lessons-screen-vector.png) bottom;
    background-size: cover;
    height: 100vh;

    &__burger{
        width: 50px;
        height: 50px;
    }
}