.lessons-page__section{
    display: flex;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ffff;
}

.section{
    &__svg{
        width: 30px;
        margin-right: 10px;
        height: 60px;
        display: inline-block;
    }
    &__heading{
        margin-bottom: 0;
    }
    &__min-description{
        margin: 5px 0;
    }
    &__description{
        margin: 10px 0;
    }
}