.lesson{
    &__heading{
        margin: 0;
    }
}

.lessons-page__lesson{
    margin-top: 15px;
    padding: 10px 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ffff;
}