@import 'scss/variables.scss';

.dropdown {
  display: inline-block;
  position: relative;

  &__header {
    background-color: #218FFE;
    color: $text-color-light;
    padding: 0.5rem 0.25rem;
    cursor: pointer;

    >* {
      padding: 0 0.25rem;
    }
  }

  &__header-title {
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    position: absolute;
    box-shadow: $border-color-light 0px 4px 8px -2px, 
                $border-color-light 0px 0px 1px;
    border-radius: 0.25rem;
    z-index: 100;
    background-color: $background;
  }

  &__list-item {
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: $background-color-hover-light;
    }
  }

  &--up {
    .dropdown__list {
      bottom: 100%;
    }
  }

  &--down {
    .dropdown__list {
      top: 100%;
    }
  }
}
