@import 'scss/variables.scss';
@import 'scss/media-mixins.scss';
@import 'scss/shared-mixins.scss';

.home-page {
  // background: url('../../../../assets/background-img/start-screen-vector.svg');
  // background-size: cover;
  // background-position: bottom right;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 2.5rem;
    margin: 0 auto;
    max-width: map-get($breakpoints, phone-ls);
    @include respond-above(desktop) {
      max-width: map-get($breakpoints, tablet);
    }
  }

  &__text {
    @include respond-above(desktop) {
      padding-right: 30%;
    }
  }

  &__link-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    @include respond-above(phone-ls) {
      flex-direction: row;
    }

    > button {
      @include button;
      margin: 1rem 0;
      text-decoration: none;
      @include respond-above(phone) {
        margin: 1rem 15%;
      }
      @include respond-above(phone-ls) {
        margin: 1rem 1.5rem 1rem 0;
        width: 192px;
      }
    }
  }
}
