@import 'scss/variables.scss';

.input {
    font-size: $font-size-base;
    display: flex;
    border-radius: 100px;
    border: 2px solid #49B1FE;
    outline: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 200px;
}


.input__icon {
    width: 22px;
    height: 22px;
    background-color: transparent;
  }

.input__text {
    width: 100%;
    border: 0;
    outline: none;
    margin:0 10px;
}
  