@import '~normalize.css/normalize.css';
@import '~scss/variables.scss';

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: $text-color;
  box-sizing: border-box;
}
