// 
//  BUTTON MIXIN 
//––––––––––––––––––––––––––––––––––––––––––––––––––

@mixin button {
  padding: 0.4rem 1.4rem;
  text-align: center;
  font-size: $font-size-medium;
  border: 0.25rem solid $main-color;
  border-radius: 22px / 50%; 
  cursor: pointer;
  
  &--primary {
    background: $main-color;
    color: $text-color-light;
  }

  &--secondary {
    background: $background;
    color: $text-color;
  }
}
