// Colors
$background: #fff !default;
$background-color-hover-light: rgb(244, 245, 247) !default;
$text-color: #333 !default;
$text-color-light: #fff !default;
$border-color-light: rgba(9, 30, 66, 0.25) !default;
// main color of the theme
$main-color: #2a96f8;

// Font sizes
$font-size-base: 1rem;
$font-size-medium: 1.4rem;
$font-size-lage: 2rem;
